{% extends 'base.html' %}

{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ title }}</legend>
            <div>
                {{ form.username.label() }}
                </br>{{ form.username }}
                {% if form.username.errors %}
                <div>
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div>
                {{ form.password.label() }}
                </br>{{ form.password }}
                {% if form.password.errors %}
                <div>
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div>
                </br>
                {{ form.submit }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}